@charset "UTF-8";

*, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    line-height: 1.3827882373437426;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: '';
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu,
nav, section, summary {
    display: block;
}

input, textarea, button {
    font-size: inherit;
    line-height: inherit;
}

.chassis .hidden, .chassis [hidden] {
    display: none !important;
}

.chassis .invisible {
    visibility: hidden !important;
}

.chassis .transparent {
    opacity: 0 !important;
}

.chassis .text-normal {
    font-style: normal !important;
    -webkit-font-feature-settings: normal !important;
            font-feature-settings: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
}

.chassis .text-italic {
    font-style: italic !important;
}

.chassis .text-oblique {
    font-style: oblique !important;
}

.chassis .text-capitalize {
    text-transform: capitalize !important;
}

.chassis .text-small-caps {
    -webkit-font-feature-settings: "c2sc" !important;
            font-feature-settings: "c2sc" !important;
    font-variant: small-caps !important;
}

.chassis .text-uppercase {
    text-transform: uppercase !important;
}

.chassis .text-lowercase {
    text-transform: lowercase !important;
}

.chassis .text-underline {
    text-decoration: underline !important;
}

.chassis .text-strikethrough {
    text-decoration: line-through !important;
}

.chassis .text-nowrap {
    white-space: nowrap !important;
}

.chassis .width-constraint {
    width: 100%;
    min-width: 0;
    max-width: 7680px;
    margin: 0 auto;
    padding-left: 6.18vw;
    padding-right: 6.18vw;
}

@media screen and (max-width: 0px) {
    .chassis .width-constraint {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 7680px) {
    .chassis .width-constraint {
        padding-left: 474.624px;
        padding-right: 474.624px;
    }
}

html.chassis {
    font-size: 16px;
}

.chassis body {
    min-width: 0;
    font-family: initial;
    font-family: -apple-system,
                 BlinkMacSystemFont,
                 'Avenir Next',
                 Avenir,
                 Helvetica,
                 Arial,
                 sans-serif;
    color: initial;
    color: rgb(68, 68, 68);
}

.chassis h1 {
    font-size: 1.61803398875em;
    line-height: 1.337195101796774;
    margin-bottom: .8264320225002283em;
    font-weight: 700;
}

.chassis h2 {
    font-size: 1.2720196495141103em;
    line-height: 1.3546101299220343;
    margin-bottom: .8371951017966738em;
    font-weight: 700;
}

.chassis h3 {
    font-size: 1em;
    line-height: 1.3827882373437426;
    margin-bottom: .854610129921934em;
    font-weight: 700;
}

.chassis h4 {
    font-size: .7861513777573977em;
    line-height: 1.4283813728907149;
    margin-bottom: .8827882373436421em;
    font-weight: 700;
}

.chassis h5 {
    font-size: .7861513777573977em;
    line-height: 1.4283813728907149;
    margin-bottom: .8827882373436421em;
    font-weight: 700;
}

.chassis h6 {
    font-size: .7861513777573977em;
    line-height: 1.4283813728907149;
    margin-bottom: .8827882373436421em;
    font-weight: 700;
}

.chassis legend {
    font-size: 20.352px;
    font-size: 1.2720196495141103rem;
    line-height: 1.3546101299220343;
    margin-bottom: .8371951017966738em;
    font-weight: 700;
}

.chassis section, .chassis nav, .chassis form {
    margin-bottom: 2.2373983672658775em;
}

.chassis nav section, .chassis section nav, .chassis nav nav, .chassis article,
.chassis fieldset, .chassis figure, .chassis pre, .chassis blockquote,
.chassis table, .chassis canvas, .chassis embed {
    margin-bottom: 1.3827882373437426em;
}

.chassis p {
    margin-bottom: 1.3827882373437426em;
}

@media screen and (min-width: 320px) {
    html.chassis {
        line-height: 1.5303307232810823;
    }

    .chassis body {
        line-height: 1.5303307232810823;
    }

    .chassis h1 {
        line-height: 1.393551316640177;
        margin-bottom: .8612620787507403em;
    }

    .chassis h2 {
        line-height: 1.4457964010159579;
        margin-bottom: .8935513166400769em;
    }

    .chassis h3 {
        line-height: 1.5303307232810823;
        margin-bottom: .9457964010158575em;
    }

    .chassis h4 {
        line-height: 1.6671101299219995;
        margin-bottom: 1.030330723280982em;
    }

    .chassis h5 {
        line-height: 1.6671101299219995;
        margin-bottom: 1.030330723280982em;
    }

    .chassis h6 {
        line-height: 1.6671101299219995;
        margin-bottom: 1.030330723280982em;
    }

    .chassis legend {
        line-height: 1.4457964010159579;
        margin-bottom: .8935513166400769em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 2.476127124297162em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.5303307232810823em;
    }

    .chassis p {
        margin-bottom: 1.5303307232810823em;
        line-height: 1.5303307232810823;
    }
}

@media screen and (min-width: 640px) {
    html.chassis {
        font-size: 17px;
        line-height: 1.635754679495825;
    }

    .chassis body {
        line-height: 1.635754679495825;
    }

    .chassis h1 {
        line-height: 1.4338196846857232;
        margin-bottom: .8861492988743764em;
    }

    .chassis h2 {
        line-height: 1.5109519891851455;
        margin-bottom: .9338196846856228em;
    }

    .chassis h3 {
        line-height: 1.635754679495825;
        margin-bottom: 1.010951989185045em;
    }

    .chassis h4 {
        line-height: 1.8376896743059452;
        margin-bottom: 1.1357546794957247em;
    }

    .chassis h5 {
        line-height: 1.8376896743059452;
        margin-bottom: 1.1357546794957247em;
    }

    .chassis h6 {
        line-height: 1.8376896743059452;
        margin-bottom: 1.1357546794957247em;
    }

    .chassis legend {
        line-height: 1.5109519891851455;
        margin-bottom: .9338196846856228em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 2.646706668681108em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.635754679495825em;
    }

    .chassis p {
        margin-bottom: 1.635754679495825em;
        line-height: 1.635754679495825;
    }
}

@media screen and (min-width: 960px) {
    html.chassis {
        font-size: 18px;
        line-height: 1.7170357209178395;
    }

    .chassis body {
        line-height: 1.7170357209178395;
    }

    .chassis h1 {
        line-height: 1.4648662798679404;
        margin-bottom: .9053371499319441em;
    }

    .chassis h2 {
        line-height: 1.561186435424935;
        margin-bottom: .9648662798678399em;
    }

    .chassis h3 {
        line-height: 1.7170357209178395;
        margin-bottom: 1.0611864354248348em;
    }

    .chassis h4 {
        line-height: 1.969205161967761;
        margin-bottom: 1.217035720917739em;
    }

    .chassis h5 {
        line-height: 1.969205161967761;
        margin-bottom: 1.217035720917739em;
    }

    .chassis h6 {
        line-height: 1.969205161967761;
        margin-bottom: 1.217035720917739em;
    }

    .chassis legend {
        line-height: 1.561186435424935;
        margin-bottom: .9648662798678399em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 2.7782221563429235em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.7170357209178395em;
    }

    .chassis p {
        margin-bottom: 1.7170357209178395em;
        line-height: 1.7170357209178395;
    }
}

@media screen and (min-width: 1280px) {
    html.chassis {
        font-size: 19px;
        line-height: 1.7798450935435361;
    }

    .chassis body {
        line-height: 1.7798450935435361;
    }

    .chassis h1 {
        line-height: 1.4888573253988964;
        margin-bottom: .9201644314957202em;
    }

    .chassis h2 {
        line-height: 1.6000047625196705;
        margin-bottom: .9888573253987959em;
    }

    .chassis h3 {
        line-height: 1.7798450935435361;
        margin-bottom: 1.10000476251957em;
    }

    .chassis h4 {
        line-height: 2.070832861688203;
        margin-bottom: 1.2798450935434362em;
    }

    .chassis h5 {
        line-height: 2.070832861688203;
        margin-bottom: 1.2798450935434362em;
    }

    .chassis h6 {
        line-height: 2.070832861688203;
        margin-bottom: 1.2798450935434362em;
    }

    .chassis legend {
        line-height: 1.6000047625196705;
        margin-bottom: .9888573253987959em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 2.8798498560633647em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.7798450935435361em;
    }

    .chassis p {
        margin-bottom: 1.7798450935435361em;
        line-height: 1.7798450935435361;
    }
}

@media screen and (min-width: 1600px) {
    html.chassis {
        font-size: 20px;
        line-height: 1.8283665448745086;
    }

    .chassis body {
        line-height: 1.8283665448745086;
    }

    .chassis h1 {
        line-height: 1.5073908706238515;
        margin-bottom: .9316187923767751em;
    }

    .chassis h2 {
        line-height: 1.6299926686256831;
        margin-bottom: 1.007390870623751em;
    }

    .chassis h3 {
        line-height: 1.8283665448745086;
        margin-bottom: 1.1299926686255828em;
    }

    .chassis h4 {
        line-height: 2.1493422191251947;
        margin-bottom: 1.3283665448744084em;
    }

    .chassis h5 {
        line-height: 2.1493422191251947;
        margin-bottom: 1.3283665448744084em;
    }

    .chassis h6 {
        line-height: 2.1493422191251947;
        margin-bottom: 1.3283665448744084em;
    }

    .chassis legend {
        line-height: 1.6299926686256831;
        margin-bottom: 1.007390870623751em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 2.958359213500357em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.8283665448745086em;
    }

    .chassis p {
        margin-bottom: 1.8283665448745086em;
        line-height: 1.8283665448745086;
    }
}

@media screen and (min-width: 1920px) {
    html.chassis {
        font-size: 21px;
        line-height: 1.8657305921068943;
    }

    .chassis body {
        line-height: 1.8657305921068943;
    }

    .chassis h1 {
        line-height: 1.5216626667093645;
        margin-bottom: .9404392474381292em;
    }

    .chassis h2 {
        line-height: 1.6530849197725526;
        margin-bottom: 1.0216626667092643em;
    }

    .chassis h3 {
        line-height: 1.8657305921068943;
        margin-bottom: 1.153084919772452em;
    }

    .chassis h4 {
        line-height: 2.2097985175044554;
        margin-bottom: 1.3657305921067942em;
    }

    .chassis h5 {
        line-height: 2.2097985175044554;
        margin-bottom: 1.3657305921067942em;
    }

    .chassis h6 {
        line-height: 2.2097985175044554;
        margin-bottom: 1.3657305921067942em;
    }

    .chassis legend {
        line-height: 1.6530849197725526;
        margin-bottom: 1.0216626667092643em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.018815511879617em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.8657305921068943em;
    }

    .chassis p {
        margin-bottom: 1.8657305921068943em;
        line-height: 1.8657305921068943;
    }
}

@media screen and (min-width: 2240px) {
    html.chassis {
        font-size: 22px;
        line-height: 1.8943095005727841;
    }

    .chassis body {
        line-height: 1.8943095005727841;
    }

    .chassis h1 {
        line-height: 1.532578838381961;
        margin-bottom: .9471858125588223em;
    }

    .chassis h2 {
        line-height: 1.6707476565658435;
        margin-bottom: 1.0325788383818606em;
    }

    .chassis h3 {
        line-height: 1.8943095005727841;
        margin-bottom: 1.1707476565657429em;
    }

    .chassis h4 {
        line-height: 2.2560401627636404;
        margin-bottom: 1.3943095005726842em;
    }

    .chassis h5 {
        line-height: 2.2560401627636404;
        margin-bottom: 1.3943095005726842em;
    }

    .chassis h6 {
        line-height: 2.2560401627636404;
        margin-bottom: 1.3943095005726842em;
    }

    .chassis legend {
        line-height: 1.6707476565658435;
        margin-bottom: 1.0325788383818606em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.0650571571388023em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.8943095005727841em;
    }

    .chassis p {
        margin-bottom: 1.8943095005727841em;
        line-height: 1.8943095005727841;
    }
}

@media screen and (min-width: 2560px) {
    html.chassis {
        font-size: 23px;
        line-height: 1.9159214355842435;
    }

    .chassis body {
        line-height: 1.9159214355842435;
    }

    .chassis h1 {
        line-height: 1.5408338629936833;
        margin-bottom: .9522876983468332em;
    }

    .chassis h2 {
        line-height: 1.6841045669655783;
        margin-bottom: 1.0408338629935832em;
    }

    .chassis h3 {
        line-height: 1.9159214355842435;
        margin-bottom: 1.184104566965478em;
    }

    .chassis h4 {
        line-height: 2.2910090081748375;
        margin-bottom: 1.4159214355841432em;
    }

    .chassis h5 {
        line-height: 2.2910090081748375;
        margin-bottom: 1.4159214355841432em;
    }

    .chassis h6 {
        line-height: 2.2910090081748375;
        margin-bottom: 1.4159214355841432em;
    }

    .chassis legend {
        line-height: 1.6841045669655783;
        margin-bottom: 1.0408338629935832em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.10002600255em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9159214355842435em;
    }

    .chassis p {
        margin-bottom: 1.9159214355842435em;
        line-height: 1.9159214355842435;
    }
}

@media screen and (min-width: 2880px) {
    html.chassis {
        font-size: 24px;
        line-height: 1.9319741572216185;
    }

    .chassis body {
        line-height: 1.9319741572216185;
    }

    .chassis h1 {
        line-height: 1.5469654570472189;
        margin-bottom: .9560772318771347em;
    }

    .chassis h2 {
        line-height: 1.694025694549416;
        margin-bottom: 1.0469654570471185em;
    }

    .chassis h3 {
        line-height: 1.9319741572216185;
        margin-bottom: 1.194025694549316em;
    }

    .chassis h4 {
        line-height: 2.3169828573960523;
        margin-bottom: 1.4319741572215179em;
    }

    .chassis h5 {
        line-height: 2.3169828573960523;
        margin-bottom: 1.4319741572215179em;
    }

    .chassis h6 {
        line-height: 2.3169828573960523;
        margin-bottom: 1.4319741572215179em;
    }

    .chassis legend {
        line-height: 1.694025694549416;
        margin-bottom: 1.0469654570471185em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.125999851771215em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9319741572216185em;
    }

    .chassis p {
        margin-bottom: 1.9319741572216185em;
        line-height: 1.9319741572216185;
    }
}

@media screen and (min-width: 3200px) {
    html.chassis {
        font-size: 25px;
        line-height: 1.9435677178943833;
    }

    .chassis body {
        line-height: 1.9435677178943833;
    }

    .chassis h1 {
        line-height: 1.5513938031735806;
        margin-bottom: .958814100297175em;
    }

    .chassis h2 {
        line-height: 1.7011909090958186;
        margin-bottom: 1.0513938031734802em;
    }

    .chassis h3 {
        line-height: 1.9435677178943833;
        margin-bottom: 1.201190909095718em;
    }

    .chassis h4 {
        line-height: 2.335741632615222;
        margin-bottom: 1.4435677178942834em;
    }

    .chassis h5 {
        line-height: 2.335741632615222;
        margin-bottom: 1.4435677178942834em;
    }

    .chassis h6 {
        line-height: 2.335741632615222;
        margin-bottom: 1.4435677178942834em;
    }

    .chassis legend {
        line-height: 1.7011909090958186;
        margin-bottom: 1.0513938031734802em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1447586269903836em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9435677178943833em;
    }

    .chassis p {
        margin-bottom: 1.9435677178943833em;
        line-height: 1.9435677178943833;
    }
}

@media screen and (min-width: 3520px) {
    html.chassis {
        font-size: 26px;
        line-height: 1.9515688857944933;
    }

    .chassis body {
        line-height: 1.9515688857944933;
    }

    .chassis h1 {
        line-height: 1.5544499773617275;
        margin-bottom: .9607029198209898em;
    }

    .chassis h2 {
        line-height: 1.7061359028077807;
        margin-bottom: 1.0544499773616272em;
    }

    .chassis h3 {
        line-height: 1.9515688857944933;
        margin-bottom: 1.2061359028076803em;
    }

    .chassis h4 {
        line-height: 2.3486877942272946;
        margin-bottom: 1.451568885794393em;
    }

    .chassis h5 {
        line-height: 2.3486877942272946;
        margin-bottom: 1.451568885794393em;
    }

    .chassis h6 {
        line-height: 2.3486877942272946;
        margin-bottom: 1.451568885794393em;
    }

    .chassis legend {
        line-height: 1.7061359028077807;
        margin-bottom: 1.0544499773616272em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.157704788602457em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9515688857944933em;
    }

    .chassis p {
        margin-bottom: 1.9515688857944933em;
        line-height: 1.9515688857944933;
    }
}

@media screen and (min-width: 3840px) {
    html.chassis {
        font-size: 27px;
        line-height: 1.9566657666651788;
    }

    .chassis body {
        line-height: 1.9566657666651788;
    }

    .chassis h1 {
        line-height: 1.5563968126177197;
        margin-bottom: .9619061301796896em;
    }

    .chassis h2 {
        line-height: 1.7092859484224732;
        margin-bottom: 1.0563968126176195em;
    }

    .chassis h3 {
        line-height: 1.9566657666651788;
        margin-bottom: 1.2092859484223728em;
    }

    .chassis h4 {
        line-height: 2.3569347207126734;
        margin-bottom: 1.4566657666650784em;
    }

    .chassis h5 {
        line-height: 2.3569347207126734;
        margin-bottom: 1.4566657666650784em;
    }

    .chassis h6 {
        line-height: 2.3569347207126734;
        margin-bottom: 1.4566657666650784em;
    }

    .chassis legend {
        line-height: 1.7092859484224732;
        margin-bottom: 1.0563968126176195em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1659517150878353em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9566657666651788em;
    }

    .chassis p {
        margin-bottom: 1.9566657666651788em;
        line-height: 1.9566657666651788;
    }
}

@media screen and (min-width: 4160px) {
    html.chassis {
        font-size: 28px;
        line-height: 1.9594083609559991;
    }

    .chassis body {
        line-height: 1.9594083609559991;
    }

    .chassis h1 {
        line-height: 1.5574443904194617;
        margin-bottom: .962553568867026em;
    }

    .chassis h2 {
        line-height: 1.7109809649115515;
        margin-bottom: 1.0574443904193616em;
    }

    .chassis h3 {
        line-height: 1.9594083609559991;
        margin-bottom: 1.2109809649114511em;
    }

    .chassis h4 {
        line-height: 2.3613723314925723;
        margin-bottom: 1.4594083609558985em;
    }

    .chassis h5 {
        line-height: 2.3613723314925723;
        margin-bottom: 1.4594083609558985em;
    }

    .chassis h6 {
        line-height: 2.3613723314925723;
        margin-bottom: 1.4594083609558985em;
    }

    .chassis legend {
        line-height: 1.7109809649115515;
        margin-bottom: 1.0574443904193616em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1703893258677347em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9594083609559991em;
    }

    .chassis p {
        margin-bottom: 1.9594083609559991em;
        line-height: 1.9594083609559991;
    }
}

@media screen and (min-width: 4480px) {
    html.chassis {
        font-size: 29px;
        line-height: 1.9602390012709174;
    }

    .chassis body {
        line-height: 1.9602390012709174;
    }

    .chassis h1 {
        line-height: 1.5577616667873344;
        margin-bottom: .9627496564461983em;
    }

    .chassis h2 {
        line-height: 1.7114943288585969;
        margin-bottom: 1.0577616667872343em;
    }

    .chassis h3 {
        line-height: 1.9602390012709174;
        margin-bottom: 1.2114943288584967em;
    }

    .chassis h4 {
        line-height: 2.3627163357545364;
        margin-bottom: 1.4602390012708173em;
    }

    .chassis h5 {
        line-height: 2.3627163357545364;
        margin-bottom: 1.4602390012708173em;
    }

    .chassis h6 {
        line-height: 2.3627163357545364;
        margin-bottom: 1.4602390012708173em;
    }

    .chassis legend {
        line-height: 1.7114943288585969;
        margin-bottom: 1.0577616667872343em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1717333301296984em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9602390012709174em;
    }

    .chassis p {
        margin-bottom: 1.9602390012709174em;
        line-height: 1.9602390012709174;
    }
}

@media screen and (min-width: 4800px) {
    html.chassis {
        font-size: 30px;
        line-height: 1.959515421263255;
    }

    .chassis body {
        line-height: 1.959515421263255;
    }

    .chassis h1 {
        line-height: 1.5574852838179876;
        margin-bottom: .9625788423772303em;
    }

    .chassis h2 {
        line-height: 1.7110471318202818;
        margin-bottom: 1.0574852838178872em;
    }

    .chassis h3 {
        line-height: 1.959515421263255;
        margin-bottom: 1.2110471318201814em;
    }

    .chassis h4 {
        line-height: 2.361545558708559;
        margin-bottom: 1.4595154212631547em;
    }

    .chassis h5 {
        line-height: 2.361545558708559;
        margin-bottom: 1.4595154212631547em;
    }

    .chassis h6 {
        line-height: 2.361545558708559;
        margin-bottom: 1.4595154212631547em;
    }

    .chassis legend {
        line-height: 1.7110471318202818;
        margin-bottom: 1.0574852838178872em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.170562553083721em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.959515421263255em;
    }

    .chassis p {
        margin-bottom: 1.959515421263255em;
        line-height: 1.959515421263255;
    }
}

@media screen and (min-width: 5120px) {
    html.chassis {
        font-size: 31px;
        line-height: 1.9575283997853987;
    }

    .chassis body {
        line-height: 1.9575283997853987;
    }

    .chassis h1 {
        line-height: 1.5567263091498222;
        margin-bottom: .9621097702357042em;
    }

    .chassis h2 {
        line-height: 1.7098190850105908;
        margin-bottom: 1.0567263091497223em;
    }

    .chassis h3 {
        line-height: 1.9575283997853987;
        margin-bottom: 1.2098190850104902em;
    }

    .chassis h4 {
        line-height: 2.358330490421011;
        margin-bottom: 1.4575283997852986em;
    }

    .chassis h5 {
        line-height: 2.358330490421011;
        margin-bottom: 1.4575283997852986em;
    }

    .chassis h6 {
        line-height: 2.358330490421011;
        margin-bottom: 1.4575283997852986em;
    }

    .chassis legend {
        line-height: 1.7098190850105908;
        margin-bottom: 1.0567263091497223em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1673474847961733em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9575283997853987em;
    }

    .chassis p {
        margin-bottom: 1.9575283997853987em;
        line-height: 1.9575283997853987;
    }
}

@media screen and (min-width: 5440px) {
    html.chassis {
        font-size: 32px;
        line-height: 1.9545153703509341;
    }

    .chassis body {
        line-height: 1.9545153703509341;
    }

    .chassis h1 {
        line-height: 1.555575434314961;
        margin-bottom: .9613984904709629em;
    }

    .chassis h2 {
        line-height: 1.7079569304109876;
        margin-bottom: 1.0555754343148607em;
    }

    .chassis h3 {
        line-height: 1.9545153703509341;
        margin-bottom: 1.2079569304108873em;
    }

    .chassis h4 {
        line-height: 2.3534553063869432;
        margin-bottom: 1.454515370350834em;
    }

    .chassis h5 {
        line-height: 2.3534553063869432;
        margin-bottom: 1.454515370350834em;
    }

    .chassis h6 {
        line-height: 2.3534553063869432;
        margin-bottom: 1.454515370350834em;
    }

    .chassis legend {
        line-height: 1.7079569304109876;
        margin-bottom: 1.0555754343148607em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.162472300762105em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9545153703509341em;
    }

    .chassis p {
        margin-bottom: 1.9545153703509341em;
        line-height: 1.9545153703509341;
    }
}

@media screen and (min-width: 5760px) {
    html.chassis {
        font-size: 33px;
        line-height: 1.950671001169601;
    }

    .chassis body {
        line-height: 1.950671001169601;
    }

    .chassis h1 {
        line-height: 1.5541070159529946;
        margin-bottom: .9604909580135633em;
    }

    .chassis h2 {
        line-height: 1.7055809795916212;
        margin-bottom: 1.0541070159528942em;
    }

    .chassis h3 {
        line-height: 1.950671001169601;
        margin-bottom: 1.2055809795915209em;
    }

    .chassis h4 {
        line-height: 2.3472349863862427;
        margin-bottom: 1.4506710011695003em;
    }

    .chassis h5 {
        line-height: 2.3472349863862427;
        margin-bottom: 1.4506710011695003em;
    }

    .chassis h6 {
        line-height: 2.3472349863862427;
        margin-bottom: 1.4506710011695003em;
    }

    .chassis legend {
        line-height: 1.7055809795916212;
        margin-bottom: 1.0541070159528942em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.156251980761405em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.950671001169601em;
    }

    .chassis p {
        margin-bottom: 1.950671001169601em;
        line-height: 1.950671001169601;
    }
}

@media screen and (min-width: 6080px) {
    html.chassis {
        font-size: 34px;
        line-height: 1.94615548036054;
    }

    .chassis body {
        line-height: 1.94615548036054;
    }

    .chassis h1 {
        line-height: 1.552382240480841;
        margin-bottom: .9594249881488103em;
    }

    .chassis h2 {
        line-height: 1.7027902342547143;
        margin-bottom: 1.0523822404807406em;
    }

    .chassis h3 {
        line-height: 1.94615548036054;
        margin-bottom: 1.2027902342546142em;
    }

    .chassis h4 {
        line-height: 2.339928720240274;
        margin-bottom: 1.4461554803604395em;
    }

    .chassis h5 {
        line-height: 2.339928720240274;
        margin-bottom: 1.4461554803604395em;
    }

    .chassis h6 {
        line-height: 2.339928720240274;
        margin-bottom: 1.4461554803604395em;
    }

    .chassis legend {
        line-height: 1.7027902342547143;
        margin-bottom: 1.0523822404807406em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.148945714615437em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.94615548036054em;
    }

    .chassis p {
        margin-bottom: 1.94615548036054em;
        line-height: 1.94615548036054;
    }
}

@media screen and (min-width: 6400px) {
    html.chassis {
        font-size: 35px;
        line-height: 1.9411010484152025;
    }

    .chassis body {
        line-height: 1.9411010484152025;
    }

    .chassis h1 {
        line-height: 1.5504516192715456;
        margin-bottom: .9582317986220643em;
    }

    .chassis h2 {
        line-height: 1.6996664235186727;
        margin-bottom: 1.0504516192714453em;
    }

    .chassis h3 {
        line-height: 1.9411010484152025;
        margin-bottom: 1.1996664235185726em;
    }

    .chassis h4 {
        line-height: 2.331750477558895;
        margin-bottom: 1.4411010484151026em;
    }

    .chassis h5 {
        line-height: 2.331750477558895;
        margin-bottom: 1.4411010484151026em;
    }

    .chassis h6 {
        line-height: 2.331750477558895;
        margin-bottom: 1.4411010484151026em;
    }

    .chassis legend {
        line-height: 1.6996664235186727;
        margin-bottom: 1.0504516192714453em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.140767471934057em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9411010484152025em;
    }

    .chassis p {
        margin-bottom: 1.9411010484152025em;
        line-height: 1.9411010484152025;
    }
}

@media screen and (min-width: 6720px) {
    html.chassis {
        font-size: 36px;
        line-height: 1.9356171815657506;
    }

    .chassis body {
        line-height: 1.9356171815657506;
    }

    .chassis h1 {
        line-height: 1.548356968524834;
        margin-bottom: .9569372332660364em;
    }

    .chassis h2 {
        line-height: 1.6962772074159327;
        margin-bottom: 1.0483569685247336em;
    }

    .chassis h3 {
        line-height: 1.9356171815657506;
        margin-bottom: 1.1962772074158325em;
    }

    .chassis h4 {
        line-height: 2.322877394606701;
        margin-bottom: 1.4356171815656498em;
    }

    .chassis h5 {
        line-height: 2.322877394606701;
        margin-bottom: 1.4356171815656498em;
    }

    .chassis h6 {
        line-height: 2.322877394606701;
        margin-bottom: 1.4356171815656498em;
    }

    .chassis legend {
        line-height: 1.6962772074159327;
        margin-bottom: 1.0483569685247336em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1318943889818645em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9356171815657506em;
    }

    .chassis p {
        margin-bottom: 1.9356171815657506em;
        line-height: 1.9356171815657506;
    }
}

@media screen and (min-width: 7040px) {
    html.chassis {
        font-size: 37px;
        line-height: 1.9297947292173496;
    }

    .chassis body {
        line-height: 1.9297947292173496;
    }

    .chassis h1 {
        line-height: 1.546132989625622;
        margin-bottom: .9555627387160609em;
    }

    .chassis h2 {
        line-height: 1.6926787339667448;
        margin-bottom: 1.0461329896255216em;
    }

    .chassis h3 {
        line-height: 1.9297947292173496;
        margin-bottom: 1.1926787339666445em;
    }

    .chassis h4 {
        line-height: 2.3134564688091124;
        margin-bottom: 1.4297947292172495em;
    }

    .chassis h5 {
        line-height: 2.3134564688091124;
        margin-bottom: 1.4297947292172495em;
    }

    .chassis h6 {
        line-height: 2.3134564688091124;
        margin-bottom: 1.4297947292172495em;
    }

    .chassis legend {
        line-height: 1.6926787339667448;
        margin-bottom: 1.0461329896255216em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1224734631842743em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9297947292173496em;
    }

    .chassis p {
        margin-bottom: 1.9297947292173496em;
        line-height: 1.9297947292173496;
    }
}

@media screen and (min-width: 7360px) {
    html.chassis {
        font-size: 38px;
        line-height: 1.9237092349561227;
    }

    .chassis body {
        line-height: 1.9237092349561227;
    }

    .chassis h1 {
        line-height: 1.5438085376561757;
        margin-bottom: .9541261483937266em;
    }

    .chassis h2 {
        line-height: 1.6889176916749642;
        margin-bottom: 1.0438085376560755em;
    }

    .chassis h3 {
        line-height: 1.9237092349561227;
        margin-bottom: 1.1889176916748638em;
    }

    .chassis h4 {
        line-height: 2.3036099322561037;
        margin-bottom: 1.4237092349560223em;
    }

    .chassis h5 {
        line-height: 2.3036099322561037;
        margin-bottom: 1.4237092349560223em;
    }

    .chassis h6 {
        line-height: 2.3036099322561037;
        margin-bottom: 1.4237092349560223em;
    }

    .chassis legend {
        line-height: 1.6889176916749642;
        margin-bottom: 1.0438085376560755em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.112626926631266em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9237092349561227em;
    }

    .chassis p {
        margin-bottom: 1.9237092349561227em;
        line-height: 1.9237092349561227;
    }
}

.chassis a, .chassis .tag {
    color: inherit;
    margin: 0;
    opacity: 1;
    padding: 0;
    -webkit-text-decoration: none solid currentColor;
            text-decoration: none solid currentColor;
    text-shadow: none;
    text-transform: none;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
}

.chassis svg.icon, .chassis button, .chassis a.button {
    background: transparent none repeat 0% 0% / auto auto padding-box border-box scroll;
    border: medium none currentColor;
    border-radius: 0;
    -o-border-image: none;
       border-image: none;
    color: inherit;
    margin: 0;
    opacity: 1;
    outline: medium none invert;
    padding: 0;
    text-align: inherit;
    text-align-last: auto;
    -webkit-text-decoration: none solid currentColor;
            text-decoration: none solid currentColor;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
}

.chassis table, .chassis chassis-overlay, .chassis chassis-modal,
.chassis chassis-control, .chassis chassis-control {
    background: transparent none repeat 0% 0% / auto auto padding-box border-box scroll;
    border: medium none currentColor;
    border-radius: 0;
    -o-border-image: none;
       border-image: none;
    opacity: 1;
    text-align: inherit;
    text-align-last: auto;
    visibility: visible;
}

.chassis a {
    color: #09f;
}

.chassis a:hover {
    color: rgb(0, 153, 255);
    text-decoration: underline;
}

.chassis a:active {
    color: rgb(0, 135, 224);
}

.chassis a[disabled], .chassis a.disabled {
    cursor: default;
    pointer-events: none;
    color: rgb(188, 189, 193);
    text-decoration: none;
}

.chassis svg.icon {
    width: auto;
    height: 1.3827882373437426em;
    vertical-align: middle;
    pointer-events: none;
}

.chassis button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: .3241019226245697em;
    margin-bottom: 1em;
    padding-right: .9823784767414425em;
    padding-left: .9823784767414425em;
    line-height: 2.654807886857853em;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #09f;
    border-radius: .236em;
    color: rgb(255, 255, 255);
}

.chassis button.pill {
    padding-left: 1.61803398875em;
    padding-right: 1.61803398875em;
    border-radius: 1.3827882373437426em;
}

.chassis button:hover {
    background: rgb(26, 163, 255);
}

.chassis button:active {
    background: rgb(0, 135, 224);
}

.chassis button[disabled], .chassis button.disabled {
    pointer-events: none;
    opacity: .382;
}

.chassis button:focus {
    outline: 0;
}

@media all and (-ms-high-contrast: none) {
    .chassis button, .chassis button:focus, .chassis button:active {
        background: none;
        border: none;
        outline: none;
        color: inherit;
    }

    .chassis button span {
        position: relative;
    }
}

.chassis a.button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 .3241019226245697em 1em 0;
    padding: 0 .9823784767414425em;
    line-height: 2.654807886857853;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #09f;
    border-radius: .236em;
    color: rgb(255, 255, 255);
}

.chassis a.button.pill {
    padding-left: 1.61803398875em;
    padding-right: 1.61803398875em;
    border-radius: 1.3827882373437426em;
}

.chassis a.button:hover {
    background: rgb(26, 163, 255);
    color: rgb(255, 255, 255);
    text-decoration: unset;
}

.chassis a.button:active {
    background: rgb(0, 135, 224);
    color: rgb(255, 255, 255);
}

.chassis a.button[disabled], .chassis a.button.disabled {
    pointer-events: none;
    opacity: .382;
    color: rgb(255, 255, 255);
    text-decoration: unset;
}

.chassis .tag {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: .11017750510522055em .6180339887499999em;
    font-size: .7861513777573977em;
    line-height: 1.4283813728907149;
    vertical-align: baseline;
    background: hsl(89, 82%, 40%);
    border-radius: .236em;
    color: rgb(255, 255, 255);
}

.chassis .tag.pill {
    padding-right: .6117770861202931em;
    padding-left: .6117770861202931em;
    border-radius: 1.4283813728907149em;
}

.chassis table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: .382em 0;
}

.chassis table caption {
    text-align: left;
    font-weight: 700;
}

.chassis table tfoot {
    border-top: 3px solid rgb(209, 210, 212);
}

.chassis table tbody tr td {
    border-bottom: 1px solid rgb(209, 210, 212);
}

.chassis table tbody tr:last-child td {
    border-bottom: 0;
}

.chassis chassis-overlay {
    background: rgb(0, 0, 0);
}

.chassis chassis-modal {
    background: rgb(255, 255, 255);
}

.chassis chassis-control[type="field"] {
    margin-bottom: 1.3827882373437426em;
}

.chassis input[type="date"], .chassis input[type="datetime-local"],
.chassis input[type="email"], .chassis input[type="file"],
.chassis input[type="month"], .chassis input[type="number"],
.chassis input[type="password"], .chassis input[type="range"],
.chassis input[type="search"], .chassis input[type="tel"],
.chassis input[type="text"], .chassis input[type="time"],
.chassis input[type="url"], .chassis input[type="week"],
.chassis chassis-control[type="field"] input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-right: .9823784767414425em;
    padding-left: .9823784767414425em;
    line-height: 2.654807886857853em;
    background: transparent;
    border: none;
}

.chassis chassis-control[type="field"] input,
.chassis chassis-control[type="field"] textarea,
.chassis chassis-control[type="field"] chassis-select {
    margin: .6360098247570551em 0 0;
}

.chassis chassis-control[type="field"] input {
    margin-top: 0;
    border-bottom: 2px solid rgb(188, 189, 193);
}

.chassis chassis-control[type="field"] input:focus {
    outline: 0;
    border-color: #09f;
}

.chassis chassis-control[type="field"] textarea {
    border: 2px solid rgb(188, 189, 193);
}

.chassis chassis-control[type="field"] textarea:focus {
    outline: 0;
    border-color: #09f;
}

.chassis chassis-control[type="field"] chassis-select {
    -webkit-box-shadow: inset 0 0 0 2px rgb(188, 189, 193);
            box-shadow: inset 0 0 0 2px rgb(188, 189, 193);
}

.chassis chassis-control[type="toggle"] label {
    display: inline-block;
    width: 100%;
}

.chassis chassis-select {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-right: .3241019226245697em;
    margin-bottom: 1em;
    padding-right: .9823784767414425em;
    padding-left: .9823784767414425em;
    line-height: 2.654807886857853em;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.chassis chassis-select.pill {
    padding-left: 1.61803398875em;
    padding-right: 1.61803398875em;
    border-radius: 1.3827882373437426em;
}

.chassis chassis-select chassis-option {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.chassis chassis-select[disabled], .chassis chassis-select.disabled {
    pointer-events: none;
}
