.chassis a {
    color: var(--blue);
}

.chassis a:hover {
    color: color(var(--blue) lightness(50%));
    text-decoration: underline;
}

.chassis a:active {
    color: color(var(--blue) lightness(44%));
}

.chassis a[disabled], .chassis a.disabled {
    cursor: default;
    pointer-events: none;
    color: var(--grey-n04);
    text-decoration: none;
}

.chassis svg.icon {
    width: auto;
    height: 1.3827882373437426em;
    vertical-align: middle;
    pointer-events: none;
}

.chassis button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: .3241019226245697em;
    margin-bottom: 1em;
    padding-right: .9823784767414425em;
    padding-left: .9823784767414425em;
    line-height: 2.654807886857853em;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: var(--blue);
    border-radius: .236em;
    color: var(--white);
}

.chassis button svg.icon {
    -webkit-transform: translateX(-0.4293858394957358em);
            transform: translateX(-0.4293858394957358em);
    stroke: currentColor;
}

.chassis button.pill {
    padding-left: 1.61803398875em;
    padding-right: 1.61803398875em;
    border-radius: 1.3827882373437426em;
}

.chassis button.multi-line {
    padding-top: .6360098247570551em;
    padding-bottom: .6360098247570551em;
    line-height: 1.3827882373437426;
    white-space: normal;
}

.chassis button:hover {
    background: color(var(--blue) lightness(55%));
}

.chassis button:active {
    background: color(var(--blue) lightness(44%));
}

.chassis button[disabled], .chassis button.disabled {
    pointer-events: none;
    opacity: .382;
}

.chassis button:focus {
    outline: 0;
}

@media all and (-ms-high-contrast: none) {
    .chassis button, .chassis button:focus, .chassis button:active {
        background: none;
        border: none;
        outline: none;
        color: inherit;
    }

    .chassis button span {
        position: relative;
    }
}

.chassis a.button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 .3241019226245697em 1em 0;
    padding: 0 .9823784767414425em;
    line-height: 2.654807886857853;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: var(--blue);
    border-radius: .236em;
    color: var(--white);
}

.chassis a.button svg.icon {
    -webkit-transform: translateX(-0.4293858394957358em);
            transform: translateX(-0.4293858394957358em);
    stroke: currentColor;
}

.chassis a.button.pill {
    padding-left: 1.61803398875em;
    padding-right: 1.61803398875em;
    border-radius: 1.3827882373437426em;
}

.chassis a.button.multi-line {
    padding-top: .6360098247570551em;
    padding-bottom: .6360098247570551em;
    line-height: 1.3827882373437426;
    white-space: normal;
}

.chassis a.button:hover {
    background: color(var(--blue) lightness(55%));
    color: var(--white);
    text-decoration: unset;
}

.chassis a.button:active {
    background: color(var(--blue) lightness(44%));
    color: var(--white);
}

.chassis a.button[disabled], .chassis a.button.disabled {
    pointer-events: none;
    opacity: .382;
    color: var(--white);
    text-decoration: unset;
}

.chassis .tag {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: .11017750510522055em .6180339887499999em;
    font-size: .7861513777573977em;
    line-height: 1.4283813728907149;
    vertical-align: baseline;
    background: var(--green);
    border-radius: .236em;
    color: var(--white);
}

.chassis .tag svg.icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: .8827882373436421em;
    height: .8827882373436421em;
    -webkit-transform: translateX(-0.11646754918089612em);
            transform: translateX(-0.11646754918089612em);
    stroke: currentColor;
}

.chassis .tag.pill {
    padding-right: .6117770861202931em;
    padding-left: .6117770861202931em;
    border-radius: 1.4283813728907149em;
}

.chassis table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: .382em 0;
}

.chassis table th, .chassis table td {
    overflow: hidden;
    padding: 0 .9823784767414425em;
    line-height: 2.654807886857853;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: top;
}

.chassis table caption {
    text-align: left;
    font-weight: 700;
}

.chassis table thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 3px solid var(--grey-n03);
    -webkit-box-shadow: 0 3px 0 0 var(--grey-n03);
            box-shadow: 0 3px 0 0 var(--grey-n03);
}

.chassis table tfoot {
    border-top: 3px solid var(--grey-n03);
}

.chassis table tbody tr td {
    border-bottom: 1px solid var(--grey-n03);
}

.chassis table tbody tr:last-child td {
    border-bottom: 0;
}

.chassis chassis-overlay {
    background: var(--black);
}

.chassis chassis-modal {
    background: var(--white);
}

.chassis chassis-control[type="field"] {
    margin-bottom: 1.3827882373437426em;
}

.chassis chassis-control[type="field"] label {
    display: inline-block;
}

.chassis input[type="date"], .chassis input[type="datetime-local"],
.chassis input[type="email"], .chassis input[type="file"],
.chassis input[type="month"], .chassis input[type="number"],
.chassis input[type="password"], .chassis input[type="range"],
.chassis input[type="search"], .chassis input[type="tel"],
.chassis input[type="text"], .chassis input[type="time"],
.chassis input[type="url"], .chassis input[type="week"],
.chassis chassis-control[type="field"] input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-right: .9823784767414425em;
    padding-left: .9823784767414425em;
    line-height: 2.654807886857853em;
    background: transparent;
    border: none;
}

.chassis textarea, .chassis chassis-control[type="field"] textarea {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding-top: .6360098247570551em;
    padding-right: .9823784767414425em;
    padding-bottom: .6360098247570551em;
    padding-left: .9823784767414425em;
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    background: transparent;
    border: none;
}

.chassis chassis-control[type="field"] input,
.chassis chassis-control[type="field"] textarea,
.chassis chassis-control[type="field"] chassis-select {
    margin: .6360098247570551em 0 0;
}

.chassis select, .chassis chassis-control[type="select"] select[multiple] {
    vertical-align: top;
}

.chassis chassis-control[type="field"] input {
    margin-top: 0;
    border-bottom: 2px solid var(--grey-n04);
}

.chassis chassis-control[type="field"] input:focus {
    outline: 0;
    border-color: var(--blue);
}

.chassis chassis-control[type="field"] textarea {
    border: 2px solid var(--grey-n04);
}

.chassis chassis-control[type="field"] textarea:focus {
    outline: 0;
    border-color: var(--blue);
}

.chassis chassis-control[type="field"] chassis-select {
    -webkit-box-shadow: inset 0 0 0 2px var(--grey-n04);
            box-shadow: inset 0 0 0 2px var(--grey-n04);
}

.chassis chassis-control[type="toggle"] label {
    display: inline-block;
    width: 100%;
}

.chassis chassis-control[type="toggle"] input {
    margin: 0 .3241019226245697em 0 0;
}

.chassis chassis-select {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-right: .3241019226245697em;
    margin-bottom: 1em;
    padding-right: .9823784767414425em;
    padding-left: .9823784767414425em;
    line-height: 2.654807886857853em;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.chassis chassis-select svg.icon {
    -webkit-transform: translateX(-0.4293858394957358em);
            transform: translateX(-0.4293858394957358em);
}

.chassis chassis-select.pill {
    padding-left: 1.61803398875em;
    padding-right: 1.61803398875em;
    border-radius: 1.3827882373437426em;
}

.chassis chassis-select.multi-line {
    padding-top: .6360098247570551em;
    padding-bottom: .6360098247570551em;
    line-height: 1.3827882373437426;
    white-space: normal;
}

.chassis chassis-select chassis-option {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.chassis chassis-select[disabled], .chassis chassis-select.disabled {
    pointer-events: none;
}
