@charset "UTF-8";

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    line-height: 1.3827882373436318;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: '';
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu,
nav, section, summary {
    display: block;
}

input, textarea, button {
    font-size: inherit;
    line-height: 1.3827882373436318;
}
@custom-media --min-vp screen and (min-width: 0px) and (max-width: 320px);
@custom-media --min-vp-and-above screen and (min-width: 0px);
@custom-media --above-min-vp screen and (min-width: 321px);
@custom-media --below-tiny-vp screen and (max-width: 319px);
@custom-media --tiny-vp-and-below screen and (max-width: 320px);
@custom-media --tiny-vp screen and (min-width: 320px) and (max-width: 512px);
@custom-media --tiny-vp-and-above screen and (min-width: 320px);
@custom-media --above-tiny-vp screen and (min-width: 513px);
@custom-media --below-small-vp screen and (max-width: 511px);
@custom-media --small-vp-and-below screen and (max-width: 512px);
@custom-media --small-vp screen and (min-width: 512px) and (max-width: 768px);
@custom-media --small-vp-and-above screen and (min-width: 512px);
@custom-media --above-small-vp screen and (min-width: 769px);
@custom-media --below-medium-vp screen and (max-width: 767px);
@custom-media --medium-vp-and-below screen and (max-width: 768px);
@custom-media --medium-vp screen and (min-width: 768px) and (max-width: 1024px);
@custom-media --medium-vp-and-above screen and (min-width: 768px);
@custom-media --above-medium-vp screen and (min-width: 1025px);
@custom-media --below-large-vp screen and (max-width: 1023px);
@custom-media --large-vp-and-below screen and (max-width: 1024px);
@custom-media --large-vp screen and (min-width: 1024px) and (max-width: 1200px);
@custom-media --large-vp-and-above screen and (min-width: 1024px);
@custom-media --above-large-vp screen and (min-width: 1201px);
@custom-media --below-huge-vp screen and (max-width: 1199px);
@custom-media --huge-vp-and-below screen and (max-width: 1200px);
@custom-media --huge-vp screen and (min-width: 1200px) and (max-width: 1440px);
@custom-media --huge-vp-and-above screen and (min-width: 1200px);
@custom-media --above-huge-vp screen and (min-width: 1441px);
@custom-media --below-massive-vp screen and (max-width: 1439px);
@custom-media --massive-vp-and-below screen and (max-width: 1440px);
@custom-media --massive-vp screen and (min-width: 1440px) and (max-width: 1600px);
@custom-media --massive-vp-and-above screen and (min-width: 1440px);
@custom-media --above-massive-vp screen and (min-width: 1601px);
@custom-media --below-max-vp screen and (max-width: 1599px);
@custom-media --max-vp-and-below screen and (max-width: 1600px);
@custom-media --max-vp screen and (min-width: 1600px) and (max-width: 7680px);
@custom-media --max-vp-and-above screen and (min-width: 1600px);
@custom-media --above-max-vp screen and (min-width: 7681px);

.chassis .hidden, .chassis [hidden] {
    display: none !important;
}

.chassis .invisible {
    visibility: hidden !important;
}

.chassis .transparent {
    opacity: 0 !important;
}

.chassis .text-normal {
    font-style: normal !important;
    -webkit-font-feature-settings: normal !important;
            font-feature-settings: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
}

.chassis .text-italic {
    font-style: italic !important;
}

.chassis .text-oblique {
    font-style: oblique !important;
}

.chassis .text-capitalize {
    text-transform: capitalize !important;
}

.chassis .text-small-caps {
    -webkit-font-feature-settings: "c2sc" !important;
            font-feature-settings: "c2sc" !important;
    font-variant: small-caps !important;
}

.chassis .text-uppercase {
    text-transform: uppercase !important;
}

.chassis .text-lowercase {
    text-transform: lowercase !important;
}

.chassis .text-underline {
    text-decoration: underline !important;
}

.chassis .text-strikethrough {
    text-decoration: line-through !important;
}

.chassis .text-nowrap {
    white-space: nowrap !important;
}

.chassis .text-truncate {
    overflow: hidden !important;
}

.chassis .text-ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.chassis .constraint.width {
    width: 100%;
    min-width: 0;
    max-width: 7680px;
    margin: 0 auto;
    padding-left: 6.18vw;
    padding-right: 6.18vw;
}

@media screen and (max-width: 0px) {
    .chassis .constraint.width {
        padding-left: calc(0 * 6.18 / 100);
        padding-right: calc(0 * 6.18 / 100);
    }
}

@media screen and (min-width: 7680px) {
    .chassis .constraint.width {
        padding-left: calc(7680px * 6.18 / 100);
        padding-right: calc(7680px * 6.18 / 100);
    }
}

html.chassis {
    font-size: 16px;
}

.chassis body {
    min-width: 0;
    font-family: initial;
    font-family: -apple-system,
                 BlinkMacSystemFont,
                 'Avenir Next',
                 Avenir,
                 Helvetica,
                 Arial,
                 sans-serif;
    color: initial;
    color: rgb(68, 68, 68);
}

.chassis h1 {
    font-size: 1.618033988749895em;
    line-height: 1.337195101796658;
    margin-bottom: .8264320225002101em;
    font-weight: 700;
}

.chassis h2 {
    font-size: 1.272019649514069em;
    line-height: 1.354610129921921;
    margin-bottom: .837195101796658em;
    font-weight: 700;
}

.chassis h3 {
    font-size: 1em;
    line-height: 1.3827882373436318;
    margin-bottom: .854610129921921em;
    font-weight: 700;
}

.chassis h4 {
    font-size: .7861513777574233em;
    line-height: 1.4283813728906054;
    margin-bottom: .8827882373436318em;
    font-weight: 700;
}

.chassis h5 {
    font-size: .7861513777574233em;
    line-height: 1.4283813728906054;
    margin-bottom: .8827882373436318em;
    font-weight: 700;
}

.chassis h6 {
    font-size: .7861513777574233em;
    line-height: 1.4283813728906054;
    margin-bottom: .8827882373436318em;
    font-weight: 700;
}

.chassis legend {
    font-size: 1.272019649514069rem;
    line-height: 1.354610129921921;
    margin-bottom: .837195101796658em;
    font-weight: 700;
}

.chassis section, .chassis nav, .chassis form {
    margin-bottom: 2.237398367265553em;
}

.chassis nav section, .chassis section nav, .chassis nav nav, .chassis article,
.chassis fieldset, .chassis figure, .chassis pre, .chassis blockquote,
.chassis table, .chassis canvas, .chassis embed {
    margin-bottom: 1.3827882373436318em;
}

.chassis p {
    margin-bottom: 1.3827882373436318em;
}

@media screen and (min-width: 320px) {
    html.chassis {
        line-height: 1.5303307232810004;
    }

    .chassis body {
        line-height: 1.5303307232810004;
    }

    .chassis h1 {
        line-height: 1.3935513166400795;
        margin-bottom: .861262078750736em;
    }

    .chassis h2 {
        line-height: 1.4457964010158681;
        margin-bottom: .8935513166400796em;
    }

    .chassis h3 {
        line-height: 1.5303307232810004;
        margin-bottom: .9457964010158683em;
    }

    .chassis h4 {
        line-height: 1.667110129921921;
        margin-bottom: 1.0303307232810004em;
    }

    .chassis h5 {
        line-height: 1.667110129921921;
        margin-bottom: 1.0303307232810004em;
    }

    .chassis h6 {
        line-height: 1.667110129921921;
        margin-bottom: 1.0303307232810004em;
    }

    .chassis legend {
        line-height: 1.4457964010158681;
        margin-bottom: .8935513166400796em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 2.4761271242968688em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.5303307232810004em;
    }

    .chassis p {
        margin-bottom: 1.5303307232810004em;
        line-height: 1.5303307232810004;
    }
}

@media screen and (min-width: 640px) {
    html.chassis {
        font-size: 17px;
        line-height: 1.6357546794957638;
    }

    .chassis body {
        line-height: 1.6357546794957638;
    }

    .chassis h1 {
        line-height: 1.4338196846856386;
        margin-bottom: .8861492988743817em;
    }

    .chassis h2 {
        line-height: 1.5109519891850727;
        margin-bottom: .9338196846856384em;
    }

    .chassis h3 {
        line-height: 1.6357546794957638;
        margin-bottom: 1.0109519891850727em;
    }

    .chassis h4 {
        line-height: 1.8376896743058888;
        margin-bottom: 1.1357546794957636em;
    }

    .chassis h5 {
        line-height: 1.8376896743058888;
        margin-bottom: 1.1357546794957636em;
    }

    .chassis h6 {
        line-height: 1.8376896743058888;
        margin-bottom: 1.1357546794957636em;
    }

    .chassis legend {
        line-height: 1.5109519891850727;
        margin-bottom: .9338196846856384em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 2.646706668680837em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.6357546794957638em;
    }

    .chassis p {
        margin-bottom: 1.6357546794957638em;
        line-height: 1.6357546794957638;
    }
}

@media screen and (min-width: 960px) {
    html.chassis {
        font-size: 18px;
        line-height: 1.7170357209177938;
    }

    .chassis body {
        line-height: 1.7170357209177938;
    }

    .chassis h1 {
        line-height: 1.464866279867866;
        margin-bottom: .905337149931957em;
    }

    .chassis h2 {
        line-height: 1.5611864354248755;
        margin-bottom: .9648662798678658em;
    }

    .chassis h3 {
        line-height: 1.7170357209177938;
        margin-bottom: 1.0611864354248752em;
    }

    .chassis h4 {
        line-height: 1.969205161967722;
        margin-bottom: 1.217035720917794em;
    }

    .chassis h5 {
        line-height: 1.969205161967722;
        margin-bottom: 1.217035720917794em;
    }

    .chassis h6 {
        line-height: 1.969205161967722;
        margin-bottom: 1.217035720917794em;
    }

    .chassis legend {
        line-height: 1.5611864354248755;
        margin-bottom: .9648662798678658em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 2.7782221563426694em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.7170357209177938em;
    }

    .chassis p {
        margin-bottom: 1.7170357209177938em;
        line-height: 1.7170357209177938;
    }
}

@media screen and (min-width: 1280px) {
    html.chassis {
        font-size: 19px;
        line-height: 1.7798450935435028;
    }

    .chassis body {
        line-height: 1.7798450935435028;
    }

    .chassis h1 {
        line-height: 1.4888573253988295;
        margin-bottom: .9201644314957388em;
    }

    .chassis h2 {
        line-height: 1.600004762519621;
        margin-bottom: .9888573253988296em;
    }

    .chassis h3 {
        line-height: 1.7798450935435028;
        margin-bottom: 1.1000047625196208em;
    }

    .chassis h4 {
        line-height: 2.0708328616881766;
        margin-bottom: 1.279845093543503em;
    }

    .chassis h5 {
        line-height: 2.0708328616881766;
        margin-bottom: 1.279845093543503em;
    }

    .chassis h6 {
        line-height: 2.0708328616881766;
        margin-bottom: 1.279845093543503em;
    }

    .chassis legend {
        line-height: 1.600004762519621;
        margin-bottom: .9888573253988296em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 2.8798498560631236em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.7798450935435028em;
    }

    .chassis p {
        margin-bottom: 1.7798450935435028em;
        line-height: 1.7798450935435028;
    }
}

@media screen and (min-width: 1600px) {
    html.chassis {
        font-size: 20px;
        line-height: 1.8283665448744848;
    }

    .chassis body {
        line-height: 1.8283665448744848;
    }

    .chassis h1 {
        line-height: 1.5073908706237908;
        margin-bottom: .9316187923767982em;
    }

    .chassis h2 {
        line-height: 1.6299926686256414;
        margin-bottom: 1.0073908706237906em;
    }

    .chassis h3 {
        line-height: 1.8283665448744848;
        margin-bottom: 1.1299926686256414em;
    }

    .chassis h4 {
        line-height: 2.1493422191251788;
        margin-bottom: 1.3283665448744846em;
    }

    .chassis h5 {
        line-height: 2.1493422191251788;
        margin-bottom: 1.3283665448744846em;
    }

    .chassis h6 {
        line-height: 2.1493422191251788;
        margin-bottom: 1.3283665448744846em;
    }

    .chassis legend {
        line-height: 1.6299926686256414;
        margin-bottom: 1.0073908706237906em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 2.9583592135001266em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.8283665448744848em;
    }

    .chassis p {
        margin-bottom: 1.8283665448744848em;
        line-height: 1.8283665448744848;
    }
}

@media screen and (min-width: 1920px) {
    html.chassis {
        font-size: 21px;
        line-height: 1.8657305921068779;
    }

    .chassis body {
        line-height: 1.8657305921068779;
    }

    .chassis h1 {
        line-height: 1.5216626667093085;
        margin-bottom: .9404392474381558em;
    }

    .chassis h2 {
        line-height: 1.6530849197725168;
        margin-bottom: 1.0216626667093085em;
    }

    .chassis h3 {
        line-height: 1.8657305921068779;
        margin-bottom: 1.1530849197725168em;
    }

    .chassis h4 {
        line-height: 2.209798517504447;
        margin-bottom: 1.3657305921068779em;
    }

    .chassis h5 {
        line-height: 2.209798517504447;
        margin-bottom: 1.3657305921068779em;
    }

    .chassis h6 {
        line-height: 2.209798517504447;
        margin-bottom: 1.3657305921068779em;
    }

    .chassis legend {
        line-height: 1.6530849197725168;
        margin-bottom: 1.0216626667093085em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.018815511879395em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.8657305921068779em;
    }

    .chassis p {
        margin-bottom: 1.8657305921068779em;
        line-height: 1.8657305921068779;
    }
}

@media screen and (min-width: 2240px) {
    html.chassis {
        font-size: 22px;
        line-height: 1.8943095005727733;
    }

    .chassis body {
        line-height: 1.8943095005727733;
    }

    .chassis h1 {
        line-height: 1.5325788383819083;
        margin-bottom: .9471858125588511em;
    }

    .chassis h2 {
        line-height: 1.6707476565658121;
        margin-bottom: 1.0325788383819083em;
    }

    .chassis h3 {
        line-height: 1.8943095005727733;
        margin-bottom: 1.1707476565658121em;
    }

    .chassis h4 {
        line-height: 2.2560401627636377;
        margin-bottom: 1.3943095005727733em;
    }

    .chassis h5 {
        line-height: 2.2560401627636377;
        margin-bottom: 1.3943095005727733em;
    }

    .chassis h6 {
        line-height: 2.2560401627636377;
        margin-bottom: 1.3943095005727733em;
    }

    .chassis legend {
        line-height: 1.6707476565658121;
        margin-bottom: 1.0325788383819083em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.0650571571385856em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.8943095005727733em;
    }

    .chassis p {
        margin-bottom: 1.8943095005727733em;
        line-height: 1.8943095005727733;
    }
}

@media screen and (min-width: 2560px) {
    html.chassis {
        font-size: 23px;
        line-height: 1.9159214355842367;
    }

    .chassis body {
        line-height: 1.9159214355842367;
    }

    .chassis h1 {
        line-height: 1.5408338629936336;
        margin-bottom: .9522876983468643em;
    }

    .chassis h2 {
        line-height: 1.6841045669655506;
        margin-bottom: 1.0408338629936336em;
    }

    .chassis h3 {
        line-height: 1.9159214355842367;
        margin-bottom: 1.1841045669655506em;
    }

    .chassis h4 {
        line-height: 2.2910090081748398;
        margin-bottom: 1.4159214355842367em;
    }

    .chassis h5 {
        line-height: 2.2910090081748398;
        margin-bottom: 1.4159214355842367em;
    }

    .chassis h6 {
        line-height: 2.2910090081748398;
        margin-bottom: 1.4159214355842367em;
    }

    .chassis legend {
        line-height: 1.6841045669655506;
        margin-bottom: 1.0408338629936336em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.100026002549787em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9159214355842367em;
    }

    .chassis p {
        margin-bottom: 1.9159214355842367em;
        line-height: 1.9159214355842367;
    }
}

@media screen and (min-width: 2880px) {
    html.chassis {
        font-size: 24px;
        line-height: 1.9319741572216147;
    }

    .chassis body {
        line-height: 1.9319741572216147;
    }

    .chassis h1 {
        line-height: 1.5469654570471711;
        margin-bottom: .9560772318771673em;
    }

    .chassis h2 {
        line-height: 1.694025694549391;
        margin-bottom: 1.0469654570471711em;
    }

    .chassis h3 {
        line-height: 1.9319741572216147;
        margin-bottom: 1.194025694549391em;
    }

    .chassis h4 {
        line-height: 2.3169828573960585;
        margin-bottom: 1.4319741572216147em;
    }

    .chassis h5 {
        line-height: 2.3169828573960585;
        margin-bottom: 1.4319741572216147em;
    }

    .chassis h6 {
        line-height: 2.3169828573960585;
        margin-bottom: 1.4319741572216147em;
    }

    .chassis legend {
        line-height: 1.694025694549391;
        margin-bottom: 1.0469654570471711em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.125999851771006em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9319741572216147em;
    }

    .chassis p {
        margin-bottom: 1.9319741572216147em;
        line-height: 1.9319741572216147;
    }
}

@media screen and (min-width: 3200px) {
    html.chassis {
        font-size: 25px;
        line-height: 1.943567717894382;
    }

    .chassis body {
        line-height: 1.943567717894382;
    }

    .chassis h1 {
        line-height: 1.5513938031735341;
        margin-bottom: .9588141002972086em;
    }

    .chassis h2 {
        line-height: 1.7011909090957953;
        margin-bottom: 1.0513938031735341em;
    }

    .chassis h3 {
        line-height: 1.943567717894382;
        margin-bottom: 1.2011909090957953em;
    }

    .chassis h4 {
        line-height: 2.33574163261523;
        margin-bottom: 1.443567717894382em;
    }

    .chassis h5 {
        line-height: 2.33574163261523;
        margin-bottom: 1.443567717894382em;
    }

    .chassis h6 {
        line-height: 2.33574163261523;
        margin-bottom: 1.443567717894382em;
    }

    .chassis legend {
        line-height: 1.7011909090957953;
        margin-bottom: 1.0513938031735341em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1447586269901775em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.943567717894382em;
    }

    .chassis p {
        margin-bottom: 1.943567717894382em;
        line-height: 1.943567717894382;
    }
}

@media screen and (min-width: 3520px) {
    html.chassis {
        font-size: 26px;
        line-height: 1.9515688857944935;
    }

    .chassis body {
        line-height: 1.9515688857944935;
    }

    .chassis h1 {
        line-height: 1.554449977361682;
        margin-bottom: .9607029198210241em;
    }

    .chassis h2 {
        line-height: 1.7061359028077587;
        margin-bottom: 1.054449977361682em;
    }

    .chassis h3 {
        line-height: 1.9515688857944935;
        margin-bottom: 1.2061359028077587em;
    }

    .chassis h4 {
        line-height: 2.348687794227305;
        margin-bottom: 1.4515688857944935em;
    }

    .chassis h5 {
        line-height: 2.348687794227305;
        margin-bottom: 1.4515688857944935em;
    }

    .chassis h6 {
        line-height: 2.348687794227305;
        margin-bottom: 1.4515688857944935em;
    }

    .chassis legend {
        line-height: 1.7061359028077587;
        margin-bottom: 1.054449977361682em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1577047886022522em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9515688857944935em;
    }

    .chassis p {
        margin-bottom: 1.9515688857944935em;
        line-height: 1.9515688857944935;
    }
}

@media screen and (min-width: 3840px) {
    html.chassis {
        font-size: 27px;
        line-height: 1.9566657666651797;
    }

    .chassis body {
        line-height: 1.9566657666651797;
    }

    .chassis h1 {
        line-height: 1.556396812617675;
        margin-bottom: .9619061301797244em;
    }

    .chassis h2 {
        line-height: 1.709285948422452;
        margin-bottom: 1.056396812617675em;
    }

    .chassis h3 {
        line-height: 1.9566657666651797;
        margin-bottom: 1.209285948422452em;
    }

    .chassis h4 {
        line-height: 2.356934720712684;
        margin-bottom: 1.4566657666651794em;
    }

    .chassis h5 {
        line-height: 2.356934720712684;
        margin-bottom: 1.4566657666651794em;
    }

    .chassis h6 {
        line-height: 2.356934720712684;
        margin-bottom: 1.4566657666651794em;
    }

    .chassis legend {
        line-height: 1.709285948422452;
        margin-bottom: 1.056396812617675em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.165951715087632em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9566657666651797em;
    }

    .chassis p {
        margin-bottom: 1.9566657666651797em;
        line-height: 1.9566657666651797;
    }
}

@media screen and (min-width: 4160px) {
    html.chassis {
        font-size: 28px;
        line-height: 1.9594083609560005;
    }

    .chassis body {
        line-height: 1.9594083609560005;
    }

    .chassis h1 {
        line-height: 1.5574443904194173;
        margin-bottom: .9625535688670609em;
    }

    .chassis h2 {
        line-height: 1.7109809649115308;
        margin-bottom: 1.0574443904194173em;
    }

    .chassis h3 {
        line-height: 1.9594083609560005;
        margin-bottom: 1.2109809649115306em;
    }

    .chassis h4 {
        line-height: 2.361372331492584;
        margin-bottom: 1.4594083609560002em;
    }

    .chassis h5 {
        line-height: 2.361372331492584;
        margin-bottom: 1.4594083609560002em;
    }

    .chassis h6 {
        line-height: 2.361372331492584;
        margin-bottom: 1.4594083609560002em;
    }

    .chassis legend {
        line-height: 1.7109809649115308;
        margin-bottom: 1.0574443904194173em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1703893258675313em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9594083609560005em;
    }

    .chassis p {
        margin-bottom: 1.9594083609560005em;
        line-height: 1.9594083609560005;
    }
}

@media screen and (min-width: 4480px) {
    html.chassis {
        font-size: 29px;
        line-height: 1.960239001270919;
    }

    .chassis body {
        line-height: 1.960239001270919;
    }

    .chassis h1 {
        line-height: 1.5577616667872902;
        margin-bottom: .9627496564462336em;
    }

    .chassis h2 {
        line-height: 1.7114943288585762;
        margin-bottom: 1.05776166678729em;
    }

    .chassis h3 {
        line-height: 1.960239001270919;
        margin-bottom: 1.2114943288585762em;
    }

    .chassis h4 {
        line-height: 2.3627163357545475;
        margin-bottom: 1.4602390012709185em;
    }

    .chassis h5 {
        line-height: 2.3627163357545475;
        margin-bottom: 1.4602390012709185em;
    }

    .chassis h6 {
        line-height: 2.3627163357545475;
        margin-bottom: 1.4602390012709185em;
    }

    .chassis legend {
        line-height: 1.7114943288585762;
        margin-bottom: 1.05776166678729em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1717333301294954em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.960239001270919em;
    }

    .chassis p {
        margin-bottom: 1.960239001270919em;
        line-height: 1.960239001270919;
    }
}

@media screen and (min-width: 4800px) {
    html.chassis {
        font-size: 30px;
        line-height: 1.9595154212632566;
    }

    .chassis body {
        line-height: 1.9595154212632566;
    }

    .chassis h1 {
        line-height: 1.5574852838179432;
        margin-bottom: .9625788423772655em;
    }

    .chassis h2 {
        line-height: 1.7110471318202614;
        margin-bottom: 1.0574852838179432em;
    }

    .chassis h3 {
        line-height: 1.9595154212632566;
        margin-bottom: 1.2110471318202611em;
    }

    .chassis h4 {
        line-height: 2.3615455587085705;
        margin-bottom: 1.4595154212632566em;
    }

    .chassis h5 {
        line-height: 2.3615455587085705;
        margin-bottom: 1.4595154212632566em;
    }

    .chassis h6 {
        line-height: 2.3615455587085705;
        margin-bottom: 1.4595154212632566em;
    }

    .chassis legend {
        line-height: 1.7110471318202614;
        margin-bottom: 1.0574852838179432em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.170562553083518em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9595154212632566em;
    }

    .chassis p {
        margin-bottom: 1.9595154212632566em;
        line-height: 1.9595154212632566;
    }
}

@media screen and (min-width: 5120px) {
    html.chassis {
        font-size: 31px;
        line-height: 1.9575283997853998;
    }

    .chassis body {
        line-height: 1.9575283997853998;
    }

    .chassis h1 {
        line-height: 1.5567263091497778;
        margin-bottom: .962109770235739em;
    }

    .chassis h2 {
        line-height: 1.7098190850105697;
        margin-bottom: 1.0567263091497778em;
    }

    .chassis h3 {
        line-height: 1.9575283997853998;
        margin-bottom: 1.2098190850105695em;
    }

    .chassis h4 {
        line-height: 2.358330490421022;
        margin-bottom: 1.4575283997853998em;
    }

    .chassis h5 {
        line-height: 2.358330490421022;
        margin-bottom: 1.4575283997853998em;
    }

    .chassis h6 {
        line-height: 2.358330490421022;
        margin-bottom: 1.4575283997853998em;
    }

    .chassis legend {
        line-height: 1.7098190850105697;
        margin-bottom: 1.0567263091497778em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.167347484795969em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9575283997853998em;
    }

    .chassis p {
        margin-bottom: 1.9575283997853998em;
        line-height: 1.9575283997853998;
    }
}

@media screen and (min-width: 5440px) {
    html.chassis {
        font-size: 32px;
        line-height: 1.9545153703509348;
    }

    .chassis body {
        line-height: 1.9545153703509348;
    }

    .chassis h1 {
        line-height: 1.555575434314916;
        margin-bottom: .9613984904709976em;
    }

    .chassis h2 {
        line-height: 1.7079569304109663;
        margin-bottom: 1.055575434314916em;
    }

    .chassis h3 {
        line-height: 1.9545153703509348;
        margin-bottom: 1.207956930410966em;
    }

    .chassis h4 {
        line-height: 2.3534553063869534;
        margin-bottom: 1.4545153703509348em;
    }

    .chassis h5 {
        line-height: 2.3534553063869534;
        margin-bottom: 1.4545153703509348em;
    }

    .chassis h6 {
        line-height: 2.3534553063869534;
        margin-bottom: 1.4545153703509348em;
    }

    .chassis legend {
        line-height: 1.7079569304109663;
        margin-bottom: 1.055575434314916em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1624723007619013em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9545153703509348em;
    }

    .chassis p {
        margin-bottom: 1.9545153703509348em;
        line-height: 1.9545153703509348;
    }
}

@media screen and (min-width: 5760px) {
    html.chassis {
        font-size: 33px;
        line-height: 1.9506710011696005;
    }

    .chassis body {
        line-height: 1.9506710011696005;
    }

    .chassis h1 {
        line-height: 1.554107015952949;
        margin-bottom: .9604909580135975em;
    }

    .chassis h2 {
        line-height: 1.705580979591599;
        margin-bottom: 1.0541070159529489em;
    }

    .chassis h3 {
        line-height: 1.9506710011696005;
        margin-bottom: 1.2055809795915988em;
    }

    .chassis h4 {
        line-height: 2.3472349863862525;
        margin-bottom: 1.4506710011696007em;
    }

    .chassis h5 {
        line-height: 2.3472349863862525;
        margin-bottom: 1.4506710011696007em;
    }

    .chassis h6 {
        line-height: 2.3472349863862525;
        margin-bottom: 1.4506710011696007em;
    }

    .chassis legend {
        line-height: 1.705580979591599;
        margin-bottom: 1.0541070159529489em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1562519807611995em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9506710011696005em;
    }

    .chassis p {
        margin-bottom: 1.9506710011696005em;
        line-height: 1.9506710011696005;
    }
}

@media screen and (min-width: 6080px) {
    html.chassis {
        font-size: 34px;
        line-height: 1.946155480360539;
    }

    .chassis body {
        line-height: 1.946155480360539;
    }

    .chassis h1 {
        line-height: 1.552382240480795;
        margin-bottom: .9594249881488441em;
    }

    .chassis h2 {
        line-height: 1.7027902342546917;
        margin-bottom: 1.0523822404807948em;
    }

    .chassis h3 {
        line-height: 1.946155480360539;
        margin-bottom: 1.2027902342546914em;
    }

    .chassis h4 {
        line-height: 2.339928720240283;
        margin-bottom: 1.4461554803605388em;
    }

    .chassis h5 {
        line-height: 2.339928720240283;
        margin-bottom: 1.4461554803605388em;
    }

    .chassis h6 {
        line-height: 2.339928720240283;
        margin-bottom: 1.4461554803605388em;
    }

    .chassis legend {
        line-height: 1.7027902342546917;
        margin-bottom: 1.0523822404807948em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1489457146152304em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.946155480360539em;
    }

    .chassis p {
        margin-bottom: 1.946155480360539em;
        line-height: 1.946155480360539;
    }
}

@media screen and (min-width: 6400px) {
    html.chassis {
        font-size: 35px;
        line-height: 1.9411010484152005;
    }

    .chassis body {
        line-height: 1.9411010484152005;
    }

    .chassis h1 {
        line-height: 1.5504516192714988;
        margin-bottom: .9582317986220976em;
    }

    .chassis h2 {
        line-height: 1.6996664235186494;
        margin-bottom: 1.0504516192714988em;
    }

    .chassis h3 {
        line-height: 1.9411010484152005;
        margin-bottom: 1.199666423518649em;
    }

    .chassis h4 {
        line-height: 2.331750477558902;
        margin-bottom: 1.4411010484152005em;
    }

    .chassis h5 {
        line-height: 2.331750477558902;
        margin-bottom: 1.4411010484152005em;
    }

    .chassis h6 {
        line-height: 2.331750477558902;
        margin-bottom: 1.4411010484152005em;
    }

    .chassis legend {
        line-height: 1.6996664235186494;
        margin-bottom: 1.0504516192714988em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1407674719338496em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9411010484152005em;
    }

    .chassis p {
        margin-bottom: 1.9411010484152005em;
        line-height: 1.9411010484152005;
    }
}

@media screen and (min-width: 6720px) {
    html.chassis {
        font-size: 36px;
        line-height: 1.935617181565747;
    }

    .chassis body {
        line-height: 1.935617181565747;
    }

    .chassis h1 {
        line-height: 1.5483569685247867;
        margin-bottom: .9569372332660692em;
    }

    .chassis h2 {
        line-height: 1.6962772074159083;
        margin-bottom: 1.0483569685247864em;
    }

    .chassis h3 {
        line-height: 1.935617181565747;
        margin-bottom: 1.1962772074159078em;
    }

    .chassis h4 {
        line-height: 2.3228773946067083;
        margin-bottom: 1.4356171815657475em;
    }

    .chassis h5 {
        line-height: 2.3228773946067083;
        margin-bottom: 1.4356171815657475em;
    }

    .chassis h6 {
        line-height: 2.3228773946067083;
        margin-bottom: 1.4356171815657475em;
    }

    .chassis legend {
        line-height: 1.6962772074159083;
        margin-bottom: 1.0483569685247864em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.131894388981655em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.935617181565747em;
    }

    .chassis p {
        margin-bottom: 1.935617181565747em;
        line-height: 1.935617181565747;
    }
}

@media screen and (min-width: 7040px) {
    html.chassis {
        font-size: 37px;
        line-height: 1.9297947292173454;
    }

    .chassis body {
        line-height: 1.9297947292173454;
    }

    .chassis h1 {
        line-height: 1.5461329896255738;
        margin-bottom: .9555627387160931em;
    }

    .chassis h2 {
        line-height: 1.6926787339667193;
        margin-bottom: 1.0461329896255736em;
    }

    .chassis h3 {
        line-height: 1.9297947292173454;
        margin-bottom: 1.1926787339667193em;
    }

    .chassis h4 {
        line-height: 2.3134564688091173;
        margin-bottom: 1.4297947292173452em;
    }

    .chassis h5 {
        line-height: 2.3134564688091173;
        margin-bottom: 1.4297947292173452em;
    }

    .chassis h6 {
        line-height: 2.3134564688091173;
        margin-bottom: 1.4297947292173452em;
    }

    .chassis legend {
        line-height: 1.6926787339667193;
        margin-bottom: 1.0461329896255736em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.1224734631840647em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9297947292173454em;
    }

    .chassis p {
        margin-bottom: 1.9297947292173454em;
        line-height: 1.9297947292173454;
    }
}

@media screen and (min-width: 7360px) {
    html.chassis {
        font-size: 38px;
        line-height: 1.9237092349561171;
    }

    .chassis body {
        line-height: 1.9237092349561171;
    }

    .chassis h1 {
        line-height: 1.543808537656127;
        margin-bottom: .9541261483937584em;
    }

    .chassis h2 {
        line-height: 1.6889176916749378;
        margin-bottom: 1.0438085376561268em;
    }

    .chassis h3 {
        line-height: 1.9237092349561171;
        margin-bottom: 1.1889176916749378em;
    }

    .chassis h4 {
        line-height: 2.3036099322561077;
        margin-bottom: 1.4237092349561171em;
    }

    .chassis h5 {
        line-height: 2.3036099322561077;
        margin-bottom: 1.4237092349561171em;
    }

    .chassis h6 {
        line-height: 2.3036099322561077;
        margin-bottom: 1.4237092349561171em;
    }

    .chassis legend {
        line-height: 1.6889176916749378;
        margin-bottom: 1.0438085376561268em;
    }

    .chassis section, .chassis nav, .chassis form {
        margin-bottom: 3.112626926631055em;
    }

    .chassis nav section, .chassis section nav, .chassis nav nav,
    .chassis article, .chassis fieldset, .chassis figure, .chassis pre,
    .chassis blockquote, .chassis table, .chassis canvas, .chassis embed {
        margin-bottom: 1.9237092349561171em;
    }

    .chassis p {
        margin-bottom: 1.9237092349561171em;
        line-height: 1.9237092349561171;
    }
}

.chassis a, .chassis .tag {
    color: inherit;
    margin: 0;
    opacity: 1;
    padding: 0;
    text-decoration: none;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
    -webkit-text-decoration-color: currentColor;
            text-decoration-color: currentColor;
    text-shadow: none;
    text-transform: none;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
}

.chassis svg.icon, .chassis button, .chassis a.button,
.chassis input[type="date"], .chassis input[type="datetime-local"],
.chassis input[type="email"], .chassis input[type="file"],
.chassis input[type="month"], .chassis input[type="number"],
.chassis input[type="password"], .chassis input[type="range"],
.chassis input[type="search"], .chassis input[type="tel"],
.chassis input[type="text"], .chassis input[type="time"],
.chassis input[type="url"], .chassis input[type="week"], .chassis textarea,
.chassis chassis-datalist {
    background: transparent none repeat 0% 0% / auto auto padding-box border-box scroll;
    border: medium none currentColor;
    border-radius: 0;
    -o-border-image: none;
       border-image: none;
    color: inherit;
    margin: 0;
    opacity: 1;
    outline: medium none invert;
    padding: 0;
    text-align: inherit;
    text-align-last: auto;
    text-decoration: none;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
    -webkit-text-decoration-color: currentColor;
            text-decoration-color: currentColor;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
}

.chassis table, .chassis chassis-overlay, .chassis chassis-modal,
.chassis chassis-control {
    background: transparent none repeat 0% 0% / auto auto padding-box border-box scroll;
    border: medium none currentColor;
    border-radius: 0;
    -o-border-image: none;
       border-image: none;
    opacity: 1;
    text-align: inherit;
    text-align-last: auto;
    visibility: visible;
}

.chassis a:disabled {
    cursor: default;
    pointer-events: none;
}

.chassis svg.icon {
    width: auto;
    height: 1.3827882373436318em;
    vertical-align: middle;
    pointer-events: none;
}

@media all and (-ms-high-contrast: none) {
    .chassis button, .chassis button:focus, .chassis button:active {
        background: none;
        border: none;
        outline: none;
        color: inherit;
    }

    .chassis button span {
        position: relative;
    }
}

.chassis button:hover, .chassis button.hover {
    background: color(#09f lightness(55%));
}

.chassis button:active {
    background: color(#09f lightness(44%));
}

.chassis button:default {
    background: #09f;
    border-radius: .236em;
    color: rgb(255, 255, 255);
}

.chassis button:default svg.icon {
    stroke: currentColor;
}

.chassis button:disabled {
    pointer-events: none;
    opacity: .382;
}

.chassis button:focus {
    outline: 0;
}

.chassis a.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: .6360098247570346em;
    padding-right: .9823784767414218em;
    padding-bottom: .6360098247570346em;
    padding-left: .9823784767414218em;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.chassis a.button .icon {
    height: calc(1.3827882373436318em - 2px);
}

.chassis a.button .left.icon {
    order: -1;
    -webkit-transform: translateX(-0.4293858394957214em);
            transform: translateX(-0.4293858394957214em);
}

.chassis a.button .right.icon {
    order: 99;
    -webkit-transform: translateX(.4293858394957214em);
            transform: translateX(.4293858394957214em);
}

.chassis a.button.pill {
    padding-left: 1.618033988749895em;
    padding-right: 1.618033988749895em;
    border-radius: 1.3827882373436318em;
}

.chassis a.button:disabled {
    pointer-events: none;
}

.chassis input[type="date"], .chassis input[type="datetime-local"],
.chassis input[type="email"], .chassis input[type="file"],
.chassis input[type="month"], .chassis input[type="number"],
.chassis input[type="password"], .chassis input[type="range"],
.chassis input[type="search"], .chassis input[type="tel"],
.chassis input[type="text"], .chassis input[type="time"],
.chassis input[type="url"], .chassis input[type="week"] {
    margin-bottom: 1em;
    margin-right: .32410192262448956em;
    padding-top: .6360098247570346em;
    padding-right: .9823784767414218em;
    padding-bottom: .6360098247570346em;
    padding-left: .9823784767414218em;
    background: transparent;
    border: none;
}

.chassis input[type="date"]:disabled,
.chassis input[type="datetime-local"]:disabled,
.chassis input[type="email"]:disabled, .chassis input[type="file"]:disabled,
.chassis input[type="month"]:disabled, .chassis input[type="number"]:disabled,
.chassis input[type="password"]:disabled, .chassis input[type="range"]:disabled,
.chassis input[type="search"]:disabled, .chassis input[type="tel"]:disabled,
.chassis input[type="text"]:disabled, .chassis input[type="time"]:disabled,
.chassis input[type="url"]:disabled, .chassis input[type="week"]:disabled {
    pointer-events: none;
}

.chassis textarea {
    margin-bottom: 1em;
    margin-right: .32410192262448956em;
    padding-top: .6360098247570346em;
    padding-right: .9823784767414218em;
    padding-bottom: .6360098247570346em;
    padding-left: .9823784767414218em;
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    background: transparent;
    border: none;
}

.chassis textarea:disabled {
    pointer-events: none;
}

.chassis chassis-optgroup:disabled {
    pointer-events: none;
}

.chassis chassis-option:disabled {
    pointer-events: none;
}

.chassis chassis-select {
    position: relative;
    flex-direction: column;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.chassis chassis-select chassis-selected-option {
    padding-top: .6360098247570346em;
    padding-right: .9823784767414218em;
    padding-bottom: .6360098247570346em;
    padding-left: .9823784767414218em;
}

.chassis chassis-select chassis-options {
    overflow: auto;
}

.chassis chassis-select chassis-option,
.chassis chassis-select chassis-optgroup-label {
    padding-top: .6360098247570346em;
    padding-right: .9823784767414218em;
    padding-bottom: .6360098247570346em;
    padding-left: .9823784767414218em;
}

.chassis chassis-select chassis-selected-option svg.icon,
.chassis chassis-select chassis-option svg.icon {
    -webkit-transform: translateX(-0.4293858394957214em);
            transform: translateX(-0.4293858394957214em);
}

.chassis chassis-select.pill {
    border-radius: 1.3827882373436318em;
}

.chassis chassis-select.pill chassis-selected-option {
    border-radius: 1.3827882373436318em;
}

.chassis chassis-select.pill chassis-options {
    border-radius: 0 0 1.3827882373436318em 1.3827882373436318em;
}

.chassis chassis-select.pill chassis-selected-option,
.chassis chassis-select.pill chassis-option,
.chassis chassis-select.pill chassis-optgroup-label {
    padding-right: 1.618033988749895em;
    padding-left: 1.618033988749895em;
}

.chassis chassis-select.disabled {
    pointer-events: none;
}

.chassis chassis-select[open] chassis-options {
    margin-bottom: 1em;
}

.chassis chassis-select[open].pill,
.chassis chassis-select[open].pill chassis-selected-option {
    border-radius: 1.3827882373436318em 1.3827882373436318em 0 0;
}

.chassis chassis-datalist {
    position: relative;
    flex-direction: column;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.chassis chassis-datalist chassis-options {
    overflow: auto;
}

.chassis chassis-datalist chassis-option {
    padding-top: .6360098247570346em;
    padding-right: .9823784767414218em;
    padding-bottom: .6360098247570346em;
    padding-left: .9823784767414218em;
}

.chassis chassis-datalist chassis-option svg.icon {
    -webkit-transform: translateX(-0.4293858394957214em);
            transform: translateX(-0.4293858394957214em);
}

.chassis chassis-datalist.pill {
    border-radius: 1.3827882373436318em;
}

.chassis chassis-datalist.pill chassis-options {
    border-radius: 0 0 1.3827882373436318em 1.3827882373436318em;
}

.chassis chassis-datalist.pill chassis-option {
    padding-right: 1.618033988749895em;
    padding-left: 1.618033988749895em;
}

.chassis chassis-datalist:disabled {
    pointer-events: none;
}

.chassis chassis-datalist[open] chassis-options {
    margin-bottom: 1em;
}

.chassis chassis-datalist[open].pill {
    border-radius: 1.3827882373436318em 1.3827882373436318em 0 0;
}

.chassis chassis-control[type="field"], .chassis chassis-control[type="select"] {
    margin-bottom: 1.3827882373436318em;
}

.chassis chassis-control[type="field"] label {
    display: inline-block;
}

.chassis chassis-control[type="field"] input {
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.chassis chassis-control[type="field"] label + input {
    margin-top: .6360098247570346em;
}

.chassis chassis-control[type="field"] textarea {
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.chassis chassis-control[type="toggle"] {
    display: flex;
    align-items: baseline;
}

.chassis chassis-control[type="toggle"] input {
    display: inline-block;
    margin: 0 .32410192262448956em 0 0;
}

.chassis chassis-control[type="field"] textarea,
.chassis chassis-control[type="select"] chassis-select {
    margin: .6360098247570346em 0 0;
}

.chassis chassis-control[type="field"] textarea,
.chassis chassis-control[type="select"] select,
.chassis chassis-control[type="select"] select[multiple] {
    vertical-align: top;
}

.chassis chassis-control.disabled {
    pointer-events: none;
}
